<br />
<div class="center">
	<br />
	<h3>Welcome to PriorityStream!</h3>
	<p>Here's the latest changes:</p>
	<ul>
		<li>Tasks list now updates priority with AJAX. No more submit button!</li>
	</ul>
</div>