// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* tasks */

.tasks {
  list-style: none;
  margin: 10px 0 0 0;

  li {
    padding: 10px 20px;
    cursor: hand;
    cursor: pointer;
    background: #eee;
    margin: 5px 0;

    &.sortable {
      background: #fafafa;

      &:active {
        background: #ddd;
      }
    }
  }
}
.content {
  display: block;
}
.timestamp {
  color: #ccc;
}
.gravatar {
  float: left;
  margin-right: 10px;
}
aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}