// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* tasks */

.tasks {
  list-style: none;
  margin: 10px 0 0 0;

  li {
    padding: 10px 20px;
    cursor: hand;
    cursor: pointer;
    background: #eee;
    margin: 5px 0;
    position: relative;

    &.complete {
      background: #ddd;
      color: #999;

      a {
        color: #999;
      }
    }

    h3 {
      margin-top:0px;
      position: relative;
      top:4px;
    }

    &.sortable {
      background: #fafafa;

      &:active {
        background: #ddd;
      }
    }

    p.description {
      font-style: italic;
      padding: 0px 20px;
    }

    .pull_left {
      width: 70%;
    }

    .pull_right {
      width: 30%;
      position: absolute;
      right: 20px;
      top:20px;
      text-align: right;
    }
  }
}
.content {
  display: block;
}
.timestamp {
  color: #ccc;
}
.gravatar {
  float: left;
  margin-right: 10px;
}
aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}